<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Requests</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">

        <h1 style="text-align: center; margin: 20px;">Exam Requests</h1>

        <div class="btn-toolbar">
            <form action="/admin/dashboard" method="get">
              <button type="submit" class="btn btn-primary" style="margin-bottom: 20px;">Admin Dashboard</button>
            </form>
        </div>

        <!-- Request Table -->
        <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr class="text-center">
            <th>Instructor</th>
            <th>Course</th>
            <th>Duration</th>
            <th>Section</th>
            <th>First Choice</th>
            <th>Second Choice</th>
            <th>Third Choice</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="teacher: ${teacherTable}" class="text-center">
                <td th:text="${teacher.instructorUser}"></td>
                <td th:text="${teacher.course_name}"></td>
                <td th:text="${teacher.duration}"></td>
                <td th:text="${teacher.section}"></td>
                <td th:text="${teacher.first_choice}"></td>
                <td th:text="${teacher.second_choice}"></td>
                <td th:text="${teacher.third_choice}"></td>
            </tr>
        </tbody>
        </table>
    </div>
</body>
</html>