<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Requests</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <h1 style="text-align: center; margin: 20px;">Exam Requests</h1>

        <!-- Request Table -->
        <table class="request-table table table-striped">
        <thead>
            <tr>
            <th>Instructor</th>
            <th>Course</th>
            <th>Duration</th>
            <th>Section</th>
            <th>First Choice</th>
            <th>Second Choice</th>
            <th>Third Choice</th>
            </tr>
        </thead>
        <!-- <tbody>
            <tr th:each="request: ${requests}">
                <td th:text="${request.username}"></td>
                <td th:text="${request.course_name}"></td>
                <td th:text="${request.duration}"></td>
                <td th:text="${request.section}"></td>
                <td th:text="${request.first_choice}"></td>
                <td th:text="${request.second_choice}"></td>
                <td th:text="${request.third_choice}"></td>
            </tr>
        </tbody> -->
        </table>
    </div>
</body>
</html>